@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins:wght@400;500;600&display=swap');
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-image: url(../Images/servicebg.webp);
    height: 90vh;
    background-size:cover;
    background-position:center;
}
body {
    margin: 0;
    font-family: 'Alkatra', cursive;
    font-family: 'Poppins', sans-serif;
    background-color:rgb(255, 255, 255);
}
ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
    display: inline-flex;
    list-style:none;

}
ul li {
    display:block;
}
ul li a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    position: -webkit-sticky;
    position: sticky;
}
.active, ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration-thickness: 22px;    
}
.logo img {
    float: left;
    width: 8%;
    top:115%;
    height: auto;
    border: 2px transparent;
}
.clip img {
    float: right;
    width: 504px;
    height: auto;
    margin-right: 192px;
    margin-top: -28px;
}
.clip img:hover {
    width:540px;
    transition: width 1s, height 1s;
}
.main {
    max-width:1200px;
    margin:auto;
}
.title {
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.title h1 {
    color:#ffffff;
    font-size: 40px;
    text-align: center;
    text-shadow: rgb(255, 255, 255);
    width: 900px;
}
.section {
    height: 50vh;
    background-size:cover;
    background-position:center;
  
}
.work {
    display: block;
    padding:70px;
}
.position {
    color: rgb(0, 0, 0);
    font-size: 12spx;
    padding-top: 32px;
    padding-left: 122px;
}
.position p {
    font-size: 16px;
    text-align: left;
    padding-right: 229px;
}

.position2 {
    color:rgb(0, 0, 0);
    font-size: 30px;
    padding-top: 32px;
    padding-left: 800px;
    padding-bottom: 50px;
}
.poseition p {
    font-size: 16px;
} 
.button {
    background-color: rgb(26, 34, 180);
    color: rgb(255, 255, 255);
    text-align: center;
    transition-duration: 0.5s;
    display: inline-block;
    padding: 12px 28px;
    margin-left: 77px;
    width: 125px;
    border-radius: 25px;
}
    ul {
    list-style: none;
}
.footer1 {
    display: flex;
    flex-wrap: wrap;
    width:85%;
    margin-left:70px;
    margin-right:40px;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-col {
    flex-basis: 20%;
    padding: 11px;
}
footer {
    background-color: rgb(148, 148, 148);
    padding: 50px 0;
    position: absolute;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 12px;
}
footer p{
    font-size:15px;
}
footer h2{
    font-size:24px;
}
ul {
    list-style: none;
}
.footer-col {
    flex-basis: 30%;
    padding: 11px;
}
.social p{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    padding-right: 260px; 

}
